<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hds.xquark.dal.mapper.PointRecordMapper">
  <resultMap id="BaseResultMap" type="com.hds.xquark.dal.model.PointRecord">
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="cpId" jdbcType="BIGINT" property="cpId"/>
    <result column="grade_id" jdbcType="BIGINT" property="gradeId"/>
    <result column="gradeNumber" jdbcType="VARCHAR" property="codeNumber"/>
    <result column="orderid" jdbcType="VARCHAR" property="businessId"/>
    <result column="current_point" jdbcType="BIGINT" property="currentPoint"/>
    <result column="current_freezed_point" jdbcType="BIGINT" property="currentFreezedPoint"/>
    <result column="point_type" jdbcType="VARCHAR" property="pointType"/>
    <result column="source" jdbcType="INTEGER" property="source"/>
    <result column="rollbacked" jdbcType="TINYINT" property="rollbacked"/>
    <result column="rollback_id" jdbcType="BIGINT" property="rollbackId"/>
    <result column="un_freeze_id" jdbcType="BIGINT" property="unFreezeId"/>
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
    <result column="freezed_at" jdbcType="TIMESTAMP" property="freezedAt"/>
    <result column="freezed_to" jdbcType="TIMESTAMP" property="freezedTo"/>
  </resultMap>
  <resultMap id="VOResultMap" type="com.hds.xquark.dal.vo.PointRecordVO">
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="cpId" jdbcType="BIGINT" property="cpId"/>
    <result column="user_name" jdbcType="VARCHAR" property="userName"/>
    <result column="grade_id" jdbcType="BIGINT" property="gradeId"/>
    <result column="grade_desc" jdbcType="VARCHAR" property="gradeDesc"/>
    <result column="gradeNumber" jdbcType="VARCHAR" property="codeNumber"/>
    <result column="orderid" jdbcType="VARCHAR" property="businessId"/>
    <result column="current_point" jdbcType="BIGINT" property="currentPoint"/>
    <result column="current_freezed_point" jdbcType="BIGINT" property="currentFreezedPoint"/>
    <result column="source" jdbcType="VARCHAR" property="source"/>
    <result column="rollbacked" jdbcType="TINYINT" property="rollbacked"/>
    <result column="point_type" jdbcType="VARCHAR" property="recordType"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, cpId, grade_id, gradeNumber, orderid, current_point, current_freezed_point, point_type, source,
    rollbacked, rollback_id, un_freeze_id, created_at, updated_at, freezed_at, freezed_to
  </sql>
  <sql id="Join_Column_List">
    record.id, record.cpId, record.grade_id, record.gradeNumber,
    record.orderid, record.current_point, record.current_freezed_point,
    record.point_type, record.source, record.rollbacked, record.rollback_id, record.un_freeze_id,
    record.created_at, record.updated_at, record.freezed_at, record.freezed_to
  </sql>
  <select id="selectByPrimaryKey" parameterType="String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from pointsuspending
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="listByUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from pointsuspending
    where user_id = #{userId}
    order by created_at ${direction}
  </select>
  <select id="listByCpId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from pointsuspending
    where cpId in (
    select cpId from xquark_user where union_id = #{unionId,jdbcType=VARCHAR}
    and archive = false
    )
    order by created_at ${direction}
  </select>

  <select id="loadUnRollBackedByUserIdWithBizId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from xquark_point_record
    where user_id = #{userId}
    and business_id = #{bizId,jdbcType=VARCHAR}
    and rollbacked = false
    order by created_at desc
    limit 1
  </select>
  <select id="loadUnRollBackedByUserIdWithBizIdAndFCode" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from pointsuspending
    where user_id = #{userId}
    and business_id = #{bizId,jdbcType=VARCHAR}
    and function_code = #{functionCode,jdbcType=VARCHAR}
    and rollbacked = false
    order by created_at desc
  </select>
  <select id="listVO" resultMap="VOResultMap">
    select
    <include refid="Join_Column_List"/>,
    user.name as user_name,
    cod.description as grade_desc
    from pointsuspending record
    inner join xquark_user user on record.cpId = user.cpId
    left join gradeCode cod on cod.id = record.grade_id
    where user.cpId = #{cpId,jdbcType=BIGINT}
    and user.archive = false
    <if test="source != null">
      and record.source = #{source,jdbcType=INTEGER}
    </if>
    <if test="page != null">
      limit #{offset}, #{size}
    </if>
  </select>
  <select id="count" resultType="java.lang.Long">
    select count(*)
    from pointsuspending record
    inner join xquark_user user on record.cpId = user.cpId
    where user.cpId = #{cpId,jdbcType=BIGINT}
    and user.archive = false
    <if test="source != null">
      and record.source = #{source,jdbcType=INTEGER}
    </if>
  </select>
  <select id="listFreezedRecordAfterDate" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from pointsuspending where
    freezed_at >= #{date,jdbcType=TIMESTAMP}
  </select>
  <select id="listUnFreezedRecord" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from pointsuspending
    where (current_freezed_point is not null or current_freezed_point > 0)
    and un_freeze_id is null
    and freezed_to &gt;= NOW()
  </select>
  <select id="loadUnRollBackedByCpIdWithBizId"
    resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from pointsuspending
    where cpId = #{cpId,jdbcType=BIGINT}
    and orderid = #{bizId,jdbcType=VARCHAR}
    and rollbacked = false
    order by created_at desc
    limit 1
  </select>
  <select id="listUnRollBackedByCpIdWithBizIdAndType"
    resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from pointsuspending
    where cpId = #{cpId,jdbcType=BIGINT}
    and orderid = #{bizId,jdbcType=VARCHAR}
    and rollbacked = false
    and point_type = #{type,jdbcType=VARCHAR}
    order by created_at desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from pointsuspending
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hds.xquark.dal.model.PointRecord">
    insert into pointsuspending (
      id, cpId, grade_id, gradeNumber, orderid, current_point, current_freezed_point,
      trancd, source, rollbacked, rollback_id, un_freeze_id, created_at, updated_at, freezed_at, freezed_to
    )
    values
      (#{id,jdbcType=BIGINT}, #{cpId,jdbcType=BIGINT},
                              #{gradeId,jdbcType=BIGINT},
                              #{codeNumber,jdbcType=VARCHAR},
                              #{businessId,jdbcType=VARCHAR},
                              #{currentPoint,jdbcType=BIGINT},
                              #{currentFreezedPoint,jdbcType=BIGINT},
                              #{pointType,jdbcType=VARCHAR},
                              #{source,jdbcType=BIGINT}, false,
                              #{rollbackId,jdbcType=BIGINT},
       #{unFreezeId,jdbcType=BIGINT},
       NOW(), NOW(), #{freezedAt,jdbcType=TIMESTAMP},
       #{freezedTo,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hds.xquark.dal.model.PointRecord">
    update pointsuspending
    <set>
      <if test="cpId != null">
        cpId = #{cpId,jdbcType=BIGINT},
      </if>
      <if test="gradeId != null">
        grade_id = #{gradeId,jdbcType=BIGINT},
      </if>
      <if test="codeNumber != null">
        gradeNumber = #{codeNumber,jdbcType=VARCHAR},
      </if>
      <if test="businessId != null">
        orderid = #{businessId,jdbcType=VARCHAR},
      </if>
      <if test="current_point != null">
        current_point = #{currentPoint,jdbcType=BIGINT},
      </if>
      <if test="currentFreezedPoint != null">
        current_freezed_point = #{currentFreezedPoint,jdbcType=BIGINT},
      </if>
      <if test="pointType != null">
        point_type = #{pointType,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=INTEGER},
      </if>
      <if test="rollbacked != null">
        rollbacked = #{rollbacked,jdbcType=TINYINT},
      </if>
      <if test="rollbackId != null">
        rollback_id = #{rollBackId,jdbcType=BIGINT},
      </if>
      <if test="unFreezeId != null">
        un_freeze_id = #{unFreezeId,jdbcType=BIGINT},
      </if>
      <if test="freezedAt != null">
        freezed_at = #{freezedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="freezedTo != null">
        freezed_to = #{freezedTo,jdbcType=TIMESTAMP},
      </if>
      updated_at = NOW()
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hds.xquark.dal.model.PointRecord">
    update pointsuspending
    set cpId                = #{cpId,jdbcType=BIGINT},
      grade_id              = #{gradeId,jdbcType=BIGINT},
      gradeNumber           = #{codeNumber,jdbcType=VARCHAR},
      orderid               = #{businessId,jdbcType=VARCHAR},
      current_point         = #{currentPoint,jdbcType=BIGINT},
      current_freezed_point = #{currentFreezedPoint,jdbcType=BIGINT},
      point_type            = #{pointType,jdbcType=VARCHAR},
      source                = #{source,jdbcType=BIGINT},
      rollbacked            = #{rollbacked,jdbcType=TINYINT},
      rollback_id           = #{rollBackId,jdbcType=BIGINT},
      un_freeze_id          = #{unFreezeId,jdbcType=BIGINT},
      freezed_at            = #{freezedAt,jdbcType=TIMESTAMP},
      freezed_to            = #{freezedTo,jdbcType=TIMESTAMP},
      updated_at            = NOW()
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>